[Desktop Entry]
Name=Lin_Guider
Categories=Utility;
Exec=/home/astro/tools/Lin_guider/lin_guider
Icon=/home/astro/tools/Lin_guider/lin_guider.png
StartupNotify=true
Type=Application
Terminal=false
MimeType=inode/directory;inode/mount-point;x-scheme-handler/ssh;x-scheme-handler/smb;x-scheme-handler/nfs;x-scheme-handler/ftp;
GenericName=Lin_Guider
Comment=Lin_Guider
Keywords=Lin_Guider;
