[Desktop Entry]
Name=PHD2
Categories=Utility;
Exec=/home/astro/tools/PHD2/phd2
Icon=/home/astro/tools/PHD2/phd.ico
StartupNotify=true
Type=Application
Terminal=false
MimeType=inode/directory;inode/mount-point;x-scheme-handler/ssh;x-scheme-handler/smb;x-scheme-handler/nfs;x-scheme-handler/ftp;
GenericName=PHD2
Comment=PHD2
Keywords=PHD2;
